*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif    
}


body{
    background-color: rgba(78, 95, 245, 0.438);
}

header{
    padding: 50px 12%;
}

header h1{
    color: white;
    -webkit-text-stroke: 1px black;
    text-align: center;
    font-size: 6rem;
    font-family: minecraft;
}

header h3{
    text-align: center;
    font-size: 4rem;
    font-family: minecraft;
    color: rgb(252, 160, 236);
    -webkit-text-stroke: 1px black;
}

section{
    padding: 50px 12%;
    display: flex;
}

.content{
    padding: 20px;
    background-color: #bcd2e8;
    border: 2px solid black;
    transition: transform .2s;
}

.content:hover{
    transform: scale(1.1);
}

.content h2{
    line-height: 2.3rem;
}

.section2{
    padding: 50px 12%;
    padding-top: 70px;
    display: flex;
}

.cat img{
    height: 120px;
    width: 150px;
    transition: transform .2s;
}

.cat img:hover{
    transform: scale(1.9);
}

.return{
    padding-top: 60px;
}

.date{
    padding-top: 120px;
    padding-left: 900px;
    text-align: right;
}

.date a{
    text-decoration: none;
    font-size: 1rem;
    color: black;
}

footer{
    padding: 50px 12%;
    padding-top: 10px;
}

hr.foot{
    border-top: 3px solid black;
}

footer h3{
    text-align: center;
}