*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif    
}

body{
    background-color: #bcd2e8;
}

header{
    padding: 50px 12%;
}

header h1{
    color: white;
    -webkit-text-stroke: 1px black;
    text-align: center;
    font-size: 6rem;
}

header h3{
    text-align: center;
    font-size: 4rem;
    color: rgb(252, 160, 236);
    -webkit-text-stroke: 1px black;
}

section{
    padding: 50px 12%;
    justify-content: center;
    display: flex;
}

.namo{
    padding: 40px 12%;
    display: flex;
}

.namo img{
    width: 300px;
    height: 350px;
    border-radius: 30%;
    transition: transform .2s;
}

.namo img:hover{
    transform: scale(1.3);
}

.heart{
    padding: 20% 12;
    padding-top: 5%;
    display: flex;
}

.heart img{
    width: 300px;
    height: 300px;
    transition: transform .2s;
}

.heart img:hover{
    transform: scale(1.2);
}

.tangi{
    padding: 40px 12%;
    display: flex;
}

.tangi img{
    width: 300px;
    height: 350px;
    border-radius: 30%;
    transition: transform .2s;
}

.tangi img:hover{
    transform: scale(1.3);
}

.message{
    padding: 50px 20%;
    padding-top: 9%;
}

.mainmsg{
    padding: 20px;
    text-align: justify;
    background-color: rgba(78, 95, 245, 0.438);
    border: 3px double black;
}

.message h1{
    font-size: 3rem;
}

.message h2{
    line-height: 2.3rem;
}

.alnick{
    padding-right: 20px;
    text-align: right;
}

footer{
    padding: 50px 12%;
    padding-top: 10px;
}

hr.foot{
    border-top: 3px solid black;
}

footer h3{
    text-align: center;
}
